<title>Login</title>

{% include 'navbar.html' %}

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/background.jpg') }}"); /* Path to your background image */
        background-size: cover; /* Ensure the background covers the whole page */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-color: rgba(0, 0, 0, 0.8); /* Optional: fallback background color */
    }

    .form-register {
        max-width: 600px; /* Set a maximum width for the form */
        margin: auto; /* Center the form horizontally */
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8); /* Dark background for the form */
        border-radius: 10px; /* Add rounded corners */
    }

    .form-control {
        width: 100%; /* Make input fields 100% of the form's width */
        max-width: 600px; /* Set a maximum width for the inputs */
        margin: 2px auto; /* Add margin between inputs and center them */
    }

    img {
        max-width: 150px; /* Set a maximum width for the logo */
        margin-bottom: 20px; /* Add space below the logo */
    }

    h1, h6, label, a {
        color: white; /* Ensure all text is readable over the dark background */
    }
</style>

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
     
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}
    
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-primary btn-custom-width") }}

            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

        </form>
    </div>

    {% include 'footer.html' %}
</body>